<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Looking for the best source of blogs on the internet? Look no further than Blog World!<br> We offer a wide range of blogs on virtually any topic you can imagine, from mold spores and clown hygiene, to gealtin trends and solar flare-based comedy.<br>And the best part? Our blogs are affordable, starting at just $999.99 per blog!</p>
    <br>
    <p>So why wait? Join the thousands of satisfied customers who trust Blog World for all their blogging needs. <br>Sign up today and start browsing our selection of top-notch blogs!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>